<div class="center jumbotron">
  <center>
  <h1>Kid Friendly Videos</h1>
  <img src="/kid_friendly_videos_temp_logo.png" width=<%= user_signed_in? ? "15%" : "25%" %>>
  <% unless user_signed_in? %><h2>Creates safe recommended videos for viewing on Memair</h2><% end %>

  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
 
  <% if user_signed_in? && current_user.setup? %>
    <p> <%= link_to "Launch Player", 'https://memair.com/player', class: "btn btn-lg btn-primary" %></p>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.setup? %>
      <%= form_tag watch_time_path, method: :post do |f| %>
        <%= number_field_tag(:watch_time, value = 8, options = {min: 5, max: 240, hidden: true}) %>
        <%= number_field_tag(:expires_in, value = 10, options = {hidden: true}) %>
        <%= submit_tag 'Add 10 minute reward', class: 'btn btn-lg btn-success'  %><br>
        <i>Note: this will around 10 minutes of video recommendations</i> 
      <% end %>
    <% end %>

    <h3>Settings</h3>
    <%= form_for(current_user, as: :user, html: { method: :put }) do |f| %>
      <p>
        <div class="field">
          <%= f.label "Functioning Age (years)" %><br />
          <%= f.number_field :functioning_age, min: 0, max: 100, default: 5, required: 'required' %><br />

          <%= f.label "Daily Watch Time (minutes)" %><br />
          <%= f.number_field :daily_watch_time, min: 0, max: 1440, default: 120, required: 'required' %><br />
        </div>

        <div class="col-sm-10">
          <%= f.label "Interests" %><br />
          |
          <% User::INTERESTS.sort.each do |interest| %>
            <%= check_box_tag("user[interests][]", interest, current_user.interests.include?(interest)) %>
            <%= interest %> | 
          <% end %>
        </div>
      </p>
      <p><%= f.submit (current_user.setup? ? "Update details" : "Submit details"), class: "btn btn-lg btn-primary" %></p>
    <% end %>
  <% end %>

  <% if user_signed_in? && current_user.setup? %>
    <%= button_to "Uninstall this app", registration_path(current_user), data: { confirm: 'Kid Friendly Videos will no longer generate recommendations in Memair.', title: 'Are you sure you?' }, method: :delete, class: "btn btn-lg btn-danger" %>
  <% end %>
  <% unless user_signed_in? %>
    <p><%= button_to "Connect with Memair", user_memair_omniauth_authorize_path, id: "sign_in", class: "btn btn-lg btn-primary" %></p>
  <% end %>
  </center>
</div>

<script>
  if(window.location.hash == '#install') {
    document.getElementById('sign_in').click()
  }
</script>
